
.serviceList {
    position: relative; /* 讓背景圖 定位 */
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background: white;
}
.serviceListTitle {
    margin-top: 5%;
    font-family: "DFPZongYiW9-B5";
    font-weight: 400;
    -webkit-text-stroke: 1px var(--gray); /* 邊框 */
    color: var(--primary-white);
    opacity: 1;
}
.leftBlock {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    z-index: var(--z-index-top3-defalut); /* 避免被下方三角形遮到 */

    
    font-family: "Poppins", sans-serif;
}

.leftBlock .left-img {
    position: absolute;
    top: 10%;
    left: 15%;
}

.item {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
  
.item.fadeIn {
    opacity: 1;
    transform: translateX(0);
}

.item h3 {
    font-size: 1.75rem;
    color: var(--primary-black);
    opacity: 0.9;
    font-weight: 400;
}

.item p {
    font-size: 1.25rem;
    color: var(--primary-black);
    opacity: 0.45;
    font-weight: 100;
    line-height: 30px;
    padding: 2px 0 25px 0;
}


/*  */
.rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    width: 30%;
    height: 60%;
}

.rightBlock h2 {
    margin-bottom: 40%;
    font-size: 5rem;
    font-family: "DFPZongYiW9-B5";
    font-weight: 400;
    -webkit-text-stroke: 1px var(--light-gray); /* 邊框 */
    color: var(--primary-white);
    opacity: 1;
}

.service-list .right-block .right-logo {
    position: absolute;
    top: 40%;
    right: 14%;
    width: 200px;
    z-index: var(--z-index-top4-background);
}


