
:root {
  --primary-orange: #F1B41B;
  --primary-orange-shadow: #d6a21d;
  --primary-blue: #00407E;
  --primary-white: #FFFFFF;
  --primary-black: #000000;
  --gray: #231F20;
  --light-gray: #BFBEBB;
  --light-orange: #FFFDFA;

  /* 優先等級: 最高, 如: 上方導覽列 */
  --z-index-top1-nav: 999;
  /* 優先等級: 次高, 如: 輪播點選bar, 畫面內點選按鈕 */
  --z-index-top2-click: 900;
  /* 優先等級: 中等, 初始 */
  --z-index-top3-defalut: 500;
  /* 優先等級: 底層, 如: 底圖 */
  --z-index-top4-background: 1;
}


* {
  margin: 0;
  padding: 0;
  /* font-family: 'Nunito', sans-serif; => 移除初始文字 */
  text-decoration: none;
  text-transform: capitalize;
  outline: none; 
  border:none;
}

/* 上方導覽列 點選切換 使用滑動 =>  gsap 會與 scroll-behavior 發生衝突, 造成 scroll 卡頓 */
html {
  scroll-behavior: smooth; 
}



