/* =========================== 共用設定 start =========================== */

/* @import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap'); */
@import url('./assets/fonts/doppio-one.css');
@font-face {
    font-family: "DFPZongYiW9-B5"; /* 自訂義 */
    src: url("./assets/fonts/DFPZongYiW9-B5.TTF") format("truetype");
}
@font-face {
    font-family: "jf-openhuninn-2.0"; /* 自訂義 */
    src: url("./assets/fonts/jf-openhuninn-2.0.ttf") format("truetype");
}



:root {
    --primary-orange: #F1B41B;
    --primary-orange-shadow: #d6a21d;
    --primary-blue: #00407E;
    --primary-white: #FFFFFF;
    --primary-black: #000000;
    --gray: #231F20;
    --light-gray: #BFBEBB;
    --light-orange: #FFFDFA;

    /* 優先等級: 最高, 如: 上方導覽列 */
    --z-index-top1-nav: 999;
    /* 優先等級: 次高, 如: 輪播點選bar, 畫面內點選按鈕 */
    --z-index-top2-click: 900;
    /* 優先等級: 中等, 初始 */
    --z-index-top3-defalut: 500;
    /* 優先等級: 底層, 如: 底圖 */
    --z-index-top4-background: 1;

    /* 網頁標頭 大標題, 移動標題 */
    --h1-desktop-and-large: 7rem;
    --h1-laptop-and-pad: 6rem;
    --h1-mobile: 2.5rem;
    /* 每個 區塊section 次標題h2: 報價流程, 服務項目, 作品集 */
    --h2-desktop-and-large: 5rem;
    --h2-laptop-and-pad: 4rem;
    --h2-mobile: 2.5rem;
    /* 每個 區塊section 第三標題 h3 */
    --h3-desktop-and-large: 1.75rem;
    --h3-laptop-and-pad: 1.5rem;
    --h3-mobile: 1.25rem;
    /* 合作流程 h3 客製設定 => h2 0.8倍縮小 */
    --h3-flow-slide-desktop-and-large: calc(var(--h2-desktop-and-large)*0.5);
    --h3-flow-slide-laptop-and-pad: calc(var(--h2-laptop-and-pad)*0.5);
    --h3-flow-slide-mobile: calc(var(--h2-mobile)*0.5);
    /* 內文 */
    --p-desktop-and-large: 1.25rem;
    --p-laptop-and-pad: 1.25rem;
    --p-mobile: 0.8rem;
    /* 網頁標頭 slogan */
    --p-slogan-desktop-and-large: calc(var(--p-desktop-and-large)*1.2);
    --p-slogan-laptop-and-pad: calc(var(--p-laptop-and-pad)*1.2);
    --p-slogan-mobile: calc(var(--p-mobile)*1.2);
    /* 作品集 輪播圖 tab p內文 客製設定,圓角比例 => 比一般p 縮小 0.8 */
    --p-portfolio-tab-size-desktop-and-large: calc(var(--p-desktop-and-large)*0.8);
    --p-portfolio-tab-height-desktop-and-large: calc(var(--p-desktop-and-large)*1.2); /* radius比例 */
    --p-portfolio-tab-size-laptop-and-pad: calc(var(--p-laptop-and-pad)*0.8);
    --p-portfolio-tab-height-laptop-and-pad: calc(var(--p-laptop-and-pad)*1.2); /* radius比例 */
    --p-portfolio-tab-size-mobile: calc(var(--p-mobile)*0.8);
    --p-portfolio-tab-height-mobile: calc(var(--p-mobile)*1.2); /* radius比例 */
}


* {
  margin: 0;
  padding: 0;
  /* font-family: 'Nunito', sans-serif; => 移除初始文字 */
  text-decoration: none;
  text-transform: capitalize;
  outline: none; 
  border:none;
}

/* 上方導覽列 點選切換 使用滑動 =>  gsap 會與 scroll-behavior 發生衝突, 造成 scroll 卡頓 */
html {
  scroll-behavior: smooth; 
}


section {
  width: 100vw;
  height: 100vh;
  min-height: 400px; /* 避免 瀏覽器 高度過矮 被擠壓破版 */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  /* text-align: center; */
}


h1 {
  font-size: 128px;
  color: var(--primary-blue);
  text-align: center;

  /* Doppio One */
  font-family: "DFPZongYiW9-B5";
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 64px;

  font-family: "DFPZongYiW9-B5";
  font-weight: 400;
  /* -webkit-text-stroke: 1px var(--primary-black); */ /* 邊框 */
  color: var(--primary-white);
}
p {
  /* jf-openhuninn-2.0 */
  font-family: "jf-openhuninn-2.0", sans-serif;
  font-weight: 400;
  font-style: normal;
}
label {
  /* jf-openhuninn-2.0 */
  font-family: "jf-openhuninn-2.0", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  font-family: "jf-openhuninn-2.0", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--primary-black);
}




/* 通用 RWD */
@media (max-width: 1500px) {
  /* 作品集 電腦輪播圖 */
  .portfolio-block {
      height: 105vh;
  }
  .computer-background-img {
      width: 650px;    
      height: 400px;       
      background-image: url("../assets/portfolio-slide/bg-computer.png");
  }
  .portfolio-slide-list {
      position: relative;
      top: 20px;
      left: 110px;
  
      width: 425px;     
      height: 275px;
  }
  .portfolio-slide-tab-list .tab {
      height: 20px;
      border-radius: 15px;
  }
  /* 作品集 end */

  /* 服務項目列表 start */
  .service-list .left-block {
      padding: 0 20px;
  }    
  .service-list .right-block .right-logo {
   /*    right: 5vw; */
   /* 需要使用 js 判斷 rwd */
   opacity: 0.5;
  }
  /* 服務項目列表 end */
}


@media (max-width: 800px) {
  * {
      text-align: center;
  }
  img {
      max-width: 300px;
  }

  /* 上方導覽列 start */
  nav .text-bounce-bottom-container .text-bounce-bottom-box {
      left: 29%;
      width: 7px;
  }
  nav .text-bounce-bottom-container .nav-centent {
      width: 350px;
  }
  nav .text-bounce-bottom-container .nav-centent .item-list label {
      display: none;
  }
  /* 上方導覽列 end */
  

  /* 網頁標頭 過場動畫 start */
  .header-animation .move-slogn-container {
      font-size: 75px;        
  }
  .header-animation h1 {
      font-size: 60px;       
  }
  /* 網頁標頭 過場動畫 end */


  /* 報價流程 start */
  .price-work-flow .price-work-flow-title { /* h2 */
      font-size: 50px;
  }
  .price-work-flow img {
      display: none;
  }
  .price-work-flow p {
      font-size: 15px;
  }
  .price-work-flow .price-work-flow-slide .flow-tab-list label {
      font-size: 25px;
  }

  .price-work-flow-bounce-bottom-box {
      width: 4%;
      left: 1%;
  }

  .price-work-flow .price-work-flow-slide .flow-slide-list {
      width: 380px;
      height: 300px;
  }
  /* 報價流程 end */


  /* 服務項目列表 start */
  .service-list .service-list-title { /* h2 */
      font-size: 50px;
  }
  .service-list img {
      display: none;
  }
  .service-list .left-block {
      padding: 0 10px;
  }
  .service-list .left-block .item h3 {
      font-size: 25px;
  }
  .service-list .left-block .item p {
      font-size: 15px;
      line-height: 20px;
      padding: 10px 0;
  }
  /* 服務項目列表 end */


  /* 作品集 start */
  .portfolio-block .portfolio-block-title { /* h2 */
      font-size: 50px;
  }
  .portfolio-block p { 
      font-size: 15px;
  }

  /* 作品集 電腦輪播圖 */
  .portfolio-block {
      height: 110vh;
  }
  .computer-background-img {
      width: 350px;    
      height: 250px;    
      background-image: url("../assets/portfolio-slide/bg-computer.png");
  }
  .portfolio-slide-list {
      position: relative;
      top: 20px;
      left: 34px;
  
      width: 275px;     
      height: 165px;
  }
  .portfolio-slide-tab-list .tab {
      height: 20px;
      border-radius: 15px;
  }
  /* 作品集 end */


  /* 頁尾 start */
  .footer {
      height: 60vh;
  }
  .footer .item-list {
      flex-direction: column;
  }
  /* 頁尾 end */
}

